{
    "root": true,
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true
            }
        ],
        "indent": [
            "warn",
            4
        ],
        "react/prop-types": [
            "off"
        ],
        "react/jsx-indent": [
            "warn",
            4
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "object-curly-newline": "off",
        "arrow-body-style": "off",
        "react/jsx-one-expression-per-line": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ],
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        }
    }
}
